<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECIPREV</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Vuejs -->
    <script type="module">
      import { createApp } from "https://unpkg.com/petite-vue?module";
      createApp({
        fields: {
          cnpj: "",
          beginDate: {
            day: '',
            month: '',
            year: ''
          },
          endDate: {
            day: '',
            month: '',
            year: ''
          },
          valorCotas: '',
          response: {},
          hasResponse: false,
          hasError: false,
          error: ''
        },
        searchOperation(){
            this.fields.cnpj = this.fields.cnpj.replace(/[^\d]+/g,'');

            console.log(this.fields.cnpj);
            
            const instance = axios.create({
              headers: {
                    'Authorization': `Bearer ${window.localStorage.getItem('token').trim()}`
                }
            })
            instance.post(`/operations/${this.fields.cnpj}`, {
              begin_date: (this.fields.beginDate.day !== '') ? `${this.fields.beginDate.year}-${this.fields.beginDate.month}-${this.fields.beginDate.day}`: undefined,
              end_date: `${this.fields.endDate.year}-${this.fields.endDate.month}-${this.fields.endDate.day}`,
              valor_cotas: parseFloat(this.fields.valorCotas)
            })
            .then(this.handleResponse)
            .catch((error) => {
              this.fields.hasResponse = true;
              this.fields.hasError = true;
              this.fields.error = error.response.data.error
            });          
        },
        handleResponse(response){
          if(response.status === 201){
            this.fields.response = response.data
            this.fields.hasResponse = true;
            this.fields.hasError = false;
          }
        }
      }).mount("#body")
    </script>
</head>
<body id="body"  v-scope>
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link" aria-current="page">RECIPREV</a></li>
          <li class="nav-item"><a href="/app/operations" class="nav-link">Operations</a></li>
          <li class="nav-item"><a href="#" class="nav-link active">Search</a></li>
          <li class="nav-item"><a href="/app/create" class="nav-link">Create</a></li>
        </ul>
      </header>
    </div>
    <div class="container">
        <h1>Operations</h1>
        <p>Enter the operation details here</p>
    </div>
    <div class="container">
        <form @submit.prevent="">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">CPNJ</span>
                <input type="text" class="form-control" placeholder="11.111.111/1111-11" aria-label="CNPJ" aria-describedby="basic-addon1" v-model="fields.cnpj">
            </div>
              
            <label for="quota">Valor da Cota de hoje</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">R$</span>
                <input id="quota" type="text" class="form-control" placeholder="1.02" aria-label="Quota" aria-describedby="basic-addon2" v-model="fields.valorCotas">
            </div>
            
            <label>Begin Date (optional)</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" v-model:placeholder="fields.endDate.day" aria-label="Day">
                <span class="input-group-text">/</span>
                <input type="text" class="form-control" v-model:placeholder="fields.endDate.month" aria-label="Month">
                <span class="input-group-text">/</span>
                <input type="text" class="form-control" v-model:placeholder="fields.endDate.year" aria-label="Year">
            </div>
            
            <label>End Date</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="01" aria-label="Day" v-model="fields.endDate.day">
                <span class="input-group-text">/</span>
                <input type="text" class="form-control" placeholder="01" aria-label="Month" v-model="fields.endDate.month">
                <span class="input-group-text">/</span>
                <input type="text" class="form-control" placeholder="2021" aria-label="Year" v-model="fields.endDate.year">
            </div>
            <button type="submit" class="btn btn-primary" @click.prevent="searchOperation">Search</button>
        </form>
        <div v-if="fields.hasResponse">
          <h2>Resultado da busca:</h2>
          <div v-if="!fields.hasError">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">CPNJ</th>
                  <th scope="col">Razão social</th>
                  <th scope="col">Data da consulta</th>
                  <th scope="col">Valor unitário da cota</th>
                  <th scope="col">Número de cotas</th>
                  <th scope="col">Preço Médio</th>
                  <th scope="col">Retorno da operação</th>
                  <th scope="col">Saldo de aplicação no Fundo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{{fields.response.cnpj}}</th>
                  <td>{{fields.response.razao_social}}</td>
                  <td>{{fields.response.date}}</td>
                  <td>{{fields.response.valor_unitario}}</td>
                  <td>{{fields.response.num_cotas}}</td>
                  <td>{{fields.response.preco_medio}}</td>
                  <td>{{fields.response.retorno + "%"}}</td>
                  <td>{{fields.response.saldo}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div v-else>
            <p>{{fields.error}}</p>
          </div>
        </div>
    </div>
</body>
</html>